
.button{
    display: inline-block;
    color: #2A2A57;
    font-weight: bold;
}

.button:hover{
    font-weight: 1000;
}

/*
#display-area{
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: unset;
}

#display-title{
   text-align: center;
}

ul{
    list-style-type: none;
    width: 200px;
    font-size: 14px;

}
li{
    margin-top: auto;
    margin-bottom: 4px;
    font-weight: 500;
}

#wordcount-box{
    display: flex;
    
}

li.span{
    color: blue;   
    float: right;
    font-weight: bold;
}
*/