body,html{
    width: 790px;
    height: 590px;
    margin: unset;
}
#logo-img{
    display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;

    width: 50%;
}

#drag-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 20%;
}
#drop-area{
  
    width: 780px;
    height: 580px;
    border: 2px dashed #ccc;
    margin: 10px;
    border-radius: 5px;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#drop-area.highlight{
    border-color: #2A2A57;
}


p{
    margin-top: 0;
    text-align: center;
}

.my-form{

    margin-bottom: 10px;
    
}

.button{
    display: inline-block;
    color: #2A2A57;
    font-weight: bold;
}

.button:hover{
    font-weight: 1000;
}

#fileElem{
    display: none;
}

*{
    font-family: sans-serif;
}
